.catalog-hero {
  padding-top: 15.4rem;
  margin-bottom: 5rem;
  color: #111;
}

.catalog-hero__title {
  margin: 0;
  font-size: 11rem;
  font-weight: 400;
  line-height: 0.9;
  letter-spacing: -0.55rem;
}

@media (max-width: 576px) {
  .catalog-hero {
    padding-top: 7.6rem;
    margin-bottom: 2.3rem;
  }
  .catalog-hero__title {
    font-size: 4.2rem;
    font-weight: 500;
    letter-spacing: -0.21rem;
  }
}
