.company-intro-section {
  margin-bottom: 24rem;
}

.company-intro-section__grid {
  display: grid;
  grid-template-columns: var(--layout-grid-columns);
  column-gap: 2rem;
  align-items: start;
}

.company-intro-section__title {
  max-width: 85rem;
  margin: 0;
  grid-column: 1 / span 3;
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-h4);
  line-height: var(--line-height-h4);
  letter-spacing: var(--letter-spacing-h4);
  text-wrap: balance;
}

.company-intro-section__certification {
  min-width: 0;
  grid-column: 4;
}

.company-intro-section__text {
  margin: 0;
  font-size: var(--font-size-p1-medium);
  font-weight: var(--font-weight-p1-medium);
  line-height: var(--line-height-p1-medium);
  letter-spacing: var(--letter-spacing-p1-medium);
}

.company-intro-section__logos {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  margin-top: 7.8rem;
  flex-wrap: wrap;
}

.company-intro-section__logos img {
  width: auto;
  max-width: none;
  height: 4.6rem;
}

@media (max-width: 576px) {
  .company-intro-section {
    margin-bottom: 6rem;
  }

  .company-intro-section__grid {
    display: flex;
    gap: 4rem;
    flex-direction: column;
  }

  .company-intro-section__title {
    max-width: none;
    font-size: var(--font-size-h5-medium);
    font-weight: var(--font-weight-h5-medium);
    line-height: var(--line-height-h5-medium);
    letter-spacing: var(--letter-spacing-h5-medium);
  }

  .company-intro-section__certification {
    display: flex;
    width: 100%;
    min-width: 0;
    gap: 2.5rem;
    flex-direction: column;
  }

  .company-intro-section__text {
    font-size: var(--font-size-p3);
    font-weight: var(--font-weight-p3);
    line-height: var(--line-height-p3);
    letter-spacing: 0;
  }

  .company-intro-section__logos {
    gap: 2.4rem;
    margin-top: 0;
  }

  .company-intro-section__logos img {
    flex: none;
    width: auto;
    height: 3.6rem;
  }
}
