.solutions-section {
  margin-bottom: 24rem;
}

.solutions-section__header,
.solutions-section__cards {
  display: grid;
  grid-template-columns: var(--layout-grid-columns);
  column-gap: 2rem;
}

.solutions-section__header {
  padding-top: 4rem;
  border-top: 0.1rem solid var(--color-lines);
  align-items: start;
}

.solutions-section__title,
.solutions-section__description {
  margin: 0;
}

.solutions-section__title {
  grid-column: span 2;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
}

.solutions-section__description {
  max-width: 35rem;
  grid-column: 3;
  font-size: var(--font-size-p1-medium);
  font-weight: var(--font-weight-p1-medium);
  line-height: var(--line-height-p1-medium);
  letter-spacing: var(--letter-spacing-p1-medium);
}

.solutions-section__cards {
  margin-top: 12rem;
  row-gap: 2rem;
}

.solutions-section__cards > .solution-card {
  grid-column: span 2;
}

.solutions-section__card--parks .solution-card__image {
  inset: -3.28% auto auto -5.51%;
  width: 125.2%;
  height: 109.02%;
  object-position: center;
}

.solutions-section__more {
  display: flex;
  margin-top: 12rem;
  justify-content: center;
}

.solutions-section__more > .button {
  display: none;
}

@media (max-width: 576px) {
  .solutions-section {
    margin-bottom: 8rem;
  }

  .solutions-section__header {
    display: flex;
    padding-top: 1.5rem;
    gap: 2.5rem;
    flex-direction: column;
  }

  .solutions-section__title {
    font-size: var(--font-size-h5-medium);
    font-weight: var(--font-weight-h5-medium);
    line-height: var(--line-height-h5-medium);
    letter-spacing: var(--letter-spacing-h5-medium);
  }

  .solutions-section__description {
    width: 24rem;
    max-width: 100%;
    font-size: var(--font-size-p3);
    font-weight: var(--font-weight-p3);
    line-height: var(--line-height-p3);
    letter-spacing: 0;
  }

  .solutions-section__cards {
    display: flex;
    margin-top: 4rem;
    gap: 1rem;
    flex-direction: column;
  }

  .solutions-section__cards > .solution-card:nth-child(n + 5) {
    display: none;
  }

  .solutions-section__more {
    margin-top: 2rem;
  }

  .solutions-section__more > .arrow-button {
    display: none;
  }

  .solutions-section__more > .button {
    display: inline-flex;
    height: 5.2rem;
    padding-block: 0;
  }
}
