*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*:focus,
*:focus-visible {
  outline: none !important;
}

html {
  font-size: calc(100vw / 192);

  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}

body {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}
