@use "fonts";
@use "properties";
@use "reset";
@use "components/advantages-section";
@use "components/arrow-button";
@use "components/button";
@use "components/catalog-hero";
@use "components/catalog-search";
@use "components/catalog-section";
@use "components/checkbox";
@use "components/company-intro-section";
@use "components/custom-select";
@use "components/direction-card";
@use "components/download-card";
@use "components/electronic-catalogs";
@use "components/file-upload";
@use "components/footer";
@use "components/header";
@use "components/navigation-menu";
@use "components/hero-section";
@use "components/material-card";
@use "components/materials-section";
@use "components/partners-marquee";
@use "components/popular-series";
@use "components/request-footer";
@use "components/social-networks";
@use "components/solution-card";
@use "components/solutions-section";
@use "components/series-card";
@use "components/slider-navigation";
@use "components/text-input";
@use "ui-kit";

body {
  min-width: 32rem;
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-p2-regular);
  font-weight: var(--font-weight-p2-regular);
  line-height: var(--line-height-p2-regular);
  background: var(--color-background);
}

.page {
  overflow-x: clip;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: calc(
    var(--container-max-width) + 2 * var(--container-padding-inline)
  );
  margin-inline: auto;
  padding-inline: var(--container-padding-inline);
}

.main {
  min-height: 100vh;
}

.main--home {
  padding-bottom: 0;
}

.main--catalog {
  min-height: 0;
}

.link {
  display: inline-flex;
  gap: 0.8rem;
  align-items: center;
  color: var(--color-black);
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: currentcolor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
