<section class="advantages-section" aria-label="Преимущества работы с РСК Групп">
  <div class="container">
    <ul class="advantages-section__list">
      <li class="advantages-section__item">
        <button
          class="advantages-section__trigger"
          type="button"
          aria-expanded="false"
          aria-controls="advantage-project"
        >
          <span class="advantages-section__title">Решения под ваш проект</span>
          <span class="advantages-section__icon" aria-hidden="true"></span>
        </button>
        <div class="advantages-section__reveal" id="advantage-project">
          <div class="advantages-section__reveal-inner">
            <p class="advantages-section__text">
              Разрабатываем светотехнические решения с&nbsp;учётом особенностей объекта
              и&nbsp;требований проекта
            </p>
          </div>
        </div>
      </li>

      <li class="advantages-section__item">
        <button
          class="advantages-section__trigger"
          type="button"
          aria-expanded="false"
          aria-controls="advantage-production"
        >
          <span class="advantages-section__title">Надежный производственный партнер</span>
          <span class="advantages-section__icon" aria-hidden="true"></span>
        </button>
        <div class="advantages-section__reveal" id="advantage-production">
          <div class="advantages-section__reveal-inner">
            <p class="advantages-section__text">
              Комплектуем осветительные комплексы блоками автоматики, кабелем нужной
              длины и&nbsp;всем необходимым для установки
            </p>
          </div>
        </div>
      </li>

      <li class="advantages-section__item">
        <button
          class="advantages-section__trigger"
          type="button"
          aria-expanded="false"
          aria-controls="advantage-installation"
        >
          <span class="advantages-section__title">Оборудование, готовое к&nbsp;монтажу</span>
          <span class="advantages-section__icon" aria-hidden="true"></span>
        </button>
        <div class="advantages-section__reveal" id="advantage-installation">
          <div class="advantages-section__reveal-inner">
            <p class="advantages-section__text">
              Поставляем полностью укомплектованное оборудование, подготовленное
              к&nbsp;установке на объекте
            </p>
          </div>
        </div>
      </li>

      <li class="advantages-section__item">
        <button
          class="advantages-section__trigger"
          type="button"
          aria-expanded="false"
          aria-controls="advantage-consulting"
        >
          <span class="advantages-section__title">Консультации<br />и подбор</span>
          <span class="advantages-section__icon" aria-hidden="true"></span>
        </button>
        <div class="advantages-section__reveal" id="advantage-consulting">
          <div class="advantages-section__reveal-inner">
            <p class="advantages-section__text">
              Помогаем выбрать оборудование, рассчитать параметры и&nbsp;подобрать
              оптимальную комплектацию
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
