<section class="advantages-section" aria-label="Преимущества работы с РСК Групп">
  <div class="container">
    <ul class="advantages-section__list">
      <li class="advantages-section__item">
        <button class="advantages-section__trigger" type="button" aria-expanded="false"
          aria-controls="advantage-project">
          <span class="advantages-section__title">Участвуем в&nbsp;Формировании комфортной городской среды
            с&nbsp;2016г.</span>
          <span class="advantages-section__icon" aria-hidden="true"></span>
        </button>
        <div class="advantages-section__reveal" id="advantage-project">
          <div class="advantages-section__reveal-inner">
            <p class="advantages-section__text">
              Совместно с&nbsp;ведущими архитектурными командами внедряем лучшие световые практики от&nbsp;Калининграда
              до&nbsp;Камчатки. Запросите портфолио и&nbsp;консультацию.
            </p>
          </div>
        </div>
      </li>

      <li class="advantages-section__item">
        <button class="advantages-section__trigger" type="button" aria-expanded="false"
          aria-controls="advantage-production">
          <span class="advantages-section__title">Освещение в&nbsp;девелоперских проектах</span>
          <span class="advantages-section__icon" aria-hidden="true"></span>
        </button>
        <div class="advantages-section__reveal" id="advantage-production">
          <div class="advantages-section__reveal-inner">
            <p class="advantages-section__text">
              Помогаем спроектировать визуально запоминающиеся, функциональные и&nbsp;надежные решения для современных
              жилых комплексов. Запросите портфолио и&nbsp;консультацию.
            </p>
          </div>
        </div>
      </li>

      <li class="advantages-section__item">
        <button class="advantages-section__trigger" type="button" aria-expanded="false"
          aria-controls="advantage-installation">
          <span class="advantages-section__title">Надежный партнер для проектов любой сложности</span>
          <span class="advantages-section__icon" aria-hidden="true"></span>
        </button>
        <div class="advantages-section__reveal" id="advantage-installation">
          <div class="advantages-section__reveal-inner">
            <p class="advantages-section__text">
              Открыты для совместной работы&nbsp;&mdash; приглашаем к&nbsp;сотрудничеству архитектурные-проектные
              команды, интеграторов и&nbsp;строительно-монтажные организации. Запросите презентацию и&nbsp;консультацию.
            </p>
          </div>
        </div>
      </li>

      <li class="advantages-section__item">
        <button class="advantages-section__trigger" type="button" aria-expanded="false"
          aria-controls="advantage-consulting">
          <span class="advantages-section__title">Несем свет людям</span>
          <span class="advantages-section__icon" aria-hidden="true"></span>
        </button>
        <div class="advantages-section__reveal" id="advantage-consulting">
          <div class="advantages-section__reveal-inner">
            <p class="advantages-section__text">
              Наша цель&nbsp;&mdash; создавать надежные световые решения с&nbsp;высокими светотехническими
              характеристиками и&nbsp;современным дизайном. Получите электронный каталог и&nbsp;квалифицированную
              консультацию.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>