{{#if decorative}}
<span
  class="arrow-button arrow-button--{{#if variant}}{{variant}}{{else}}grey{{/if}} arrow-button--decorative"
  aria-hidden="true"
>
  <img
    class="arrow-button__icon"
    src="/icons/arrow-right.svg"
    width="24"
    height="24"
    alt=""
    aria-hidden="true"
  />
</span>
{{else}}
<button
  class="arrow-button arrow-button--{{#if variant}}{{variant}}{{else}}grey{{/if}}"
  type="{{#if type}}{{type}}{{else}}button{{/if}}"
  aria-label="{{#if ariaLabel}}{{ariaLabel}}{{else}}Перейти далее{{/if}}"
  {{#if disabled}}disabled{{/if}}
>
  <img
    class="arrow-button__icon"
    src="/icons/arrow-right.svg"
    width="24"
    height="24"
    alt=""
    aria-hidden="true"
  />
</button>
{{/if}}
