<section
  class="category-grid-section"
  id="{{id}}"
  aria-labelledby="{{id}}-title"
>
  <div class="container">
    <header class="category-grid-section__header">
      <h2 class="category-grid-section__title" id="{{id}}-title">{{title}}</h2>

      <a class="button button--grey category-grid-section__link" href="{{url}}">
        <img
          class="button__icon"
          src="/icons/arrow-right.svg"
          width="24"
          height="24"
          alt=""
          aria-hidden="true"
        />
        <span class="button__label">{{#if buttonLabel}}{{buttonLabel}}{{else}}Смотреть все{{/if}}</span>
      </a>
    </header>

    <div class="category-grid-section__grid">
      {{#each cards}}
        {{> category-card}}
      {{/each}}
    </div>
  </div>
</section>
