<section class="company-intro-section" aria-labelledby="company-intro-title">
  <div class="container">
    <div class="company-intro-section__grid">
      <h2 class="company-intro-section__title" id="company-intro-title">
        РСК Групп&nbsp;&mdash; российский производитель надежного осветительного оборудования для улично-декоративного,
        функционального, архитектурного и&nbsp;спортивного освещения.
      </h2>

      <div class="company-intro-section__certification">
        <p class="company-intro-section__text">
          Продукция ООО РСК Групп внесена в&nbsp;каталог Государственной информационной системы промышленности
        </p>
        <div class="company-intro-section__logos" aria-label="Сертификация и соответствие требованиям">
          <img src="/images/certification/gisp-white.png" width="304" height="92"
            alt="Государственная информационная система промышленности" />
          <img src="/images/certification/minpromtorg-white.png" width="364" height="92" alt="Минпромторг России" />
        </div>
      </div>
    </div>
  </div>
</section>
