<header class="header">
  <div class="container header__inner">
    <a class="header__logo" href="/" aria-label="На главную">RSK Group</a>

    <nav class="header__nav" aria-label="Основная навигация">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a class="header__nav-link" href="/">Главная</a></li>
        <li class="header__nav-item"><a class="header__nav-link" href="/about.html">О компании</a></li>
        <li class="header__nav-item"><a class="header__nav-link" href="/ui-kit.html">UI-kit</a></li>
      </ul>
    </nav>
  </div>
</header>
