<section class="hero-section" aria-labelledby="hero-title">
  <picture class="hero-section__picture" aria-hidden="true">
    <source
      media="(max-width: 576px)"
      srcset="/images/hero/background-mobile.webp"
      type="image/webp"
      width="720"
      height="1440"
    />
    <img
      class="hero-section__background"
      src="/images/hero/background.webp"
      width="3840"
      height="2400"
      alt=""
    />
  </picture>

  <div class="container">
    <div class="hero-section__grid">
      <div class="hero-section__lead">
        <h1 class="hero-section__title" id="hero-title">
          Пространство<br />
          начинается<br />
          со&nbsp;света
        </h1>

        {{> button
          label="Связаться"
          icon="/icons/chat-4-line.svg"
          variant="white"
        }}
      </div>

      <p class="hero-section__description">
        Производим световые продукты для российских условий эксплуатации —<br
          class="hero-section__description-mobile-break"
        />
        надёжные и&nbsp;эстетичные
      </p>

      <p class="hero-section__copyright">© 2016—2026</p>
    </div>
  </div>
</section>
