<section class="hero-section" aria-labelledby="hero-title">
  <div class="container">
    <div class="hero-section__grid">
      <div class="hero-section__lead">
        <h1 class="hero-section__title" id="hero-title">
          Пространство<br />
          начинается<br />
          со&nbsp;света
        </h1>

        {{> button
        label="Перейти в каталог"
        icon="/icons/arrow-right.svg"
        variant="white"
        }}
      </div>

      <p class="hero-section__description">
        Производим световые продукты для российских условий эксплуатации&nbsp;&mdash;<br class="hero-section__description-mobile-break" />
        надёжные и&nbsp;эстетичные
      </p>

      <p class="hero-section__copyright">© 2016—2026</p>
    </div>
  </div>
</section>
