<a
  class="material-card{{#if hovered}} material-card--hovered{{/if}}"
  href="{{downloadUrl}}"
  download
  aria-label="Скачать {{title}}, формат {{fileType}}, размер {{fileSize}}"
>
  <h3 class="material-card__title">{{title}}</h3>

  <div class="material-card__media">
    <img
      class="material-card__image"
      src="{{imageSrc}}"
      width="220"
      height="280"
      alt="{{imageAlt}}"
    />
  </div>

  <div class="material-card__footer">
    <span class="material-card__download">Скачать</span>

    <div class="material-card__file-info" aria-label="Формат {{fileType}}, размер {{fileSize}}">
      <span>{{fileType}}</span>
      <span>{{fileSize}}</span>
    </div>
  </div>
</a>
