{{> material-card
title="Реализованные проекты"
imageSrc="/images/material-card/realized-projects.webp"
imageAlt="Обложка презентации реализованных проектов РСК Групп"
downloadUrl="/files/realized-projects.pdf"
fileType="PDF"
fileSize="2,2 Мб"
}}
{{> material-card
title="Производство осветительного оборудования"
imageSrc="/images/material-card/production-presentation.webp"
imageAlt="Обложка презентации производства осветительного оборудования РСК Групп"
downloadUrl="/files/production-presentation.pdf"
fileType="PDF"
fileSize="2,2 Мб"
}}
{{> material-card
title="Каталог"
imageSrc="/images/material-card/catalog-2025.webp"
imageAlt="Обложка каталога РСК Групп"
downloadUrl="/files/catalog.pdf"
fileType="PDF"
fileSize="2,2 Мб"
}}
{{> material-card
title="Сертификат"
imageSrc="/images/material-card/certificate.webp"
imageAlt="Сертификат соответствия РСК Групп"
downloadUrl="/files/certificate.pdf"
fileType="PDF"
fileSize="2,2 Мб"
}}
