{{> material-card
title="Каталог"
imageSrc="/images/material-card/catalog.webp"
imageAlt="Обложка каталога РСК Групп 2026"
downloadUrl="/files/catalog.pdf"
fileType="PDF"
fileSize="2,2 Мб"
}}
{{> material-card
title="Презентация компании"
imageSrc="/images/material-card/dwg-drawings.webp"
imageAlt="Обложка DWG-чертежей светильников РСК Групп"
downloadUrl="/files/dwg-drawings.pdf"
fileType="PDF"
fileSize="2,2 Мб"
}}
{{> material-card
title="3Д модели светильников"
imageSrc="/images/material-card/3d-models.webp"
imageAlt="Обложка материала «3Д модели светильников»"
downloadUrl="/files/3d-models.pdf"
fileType="PDF"
fileSize="2,2 Мб"
}}
{{> material-card
title="Фотометрические данные"
imageSrc="/images/material-card/photometric-data.webp"
imageAlt="Обложка фотометрических данных РСК Групп"
downloadUrl="/files/photometric-data.pdf"
fileType="PDF"
fileSize="2,2 Мб"
}}