<div class="site-menu" id="site-menu" data-site-menu data-lenis-prevent aria-hidden="true">
  <button class="site-menu__backdrop" type="button" aria-label="Закрыть меню" data-menu-close tabindex="-1"></button>

  <div class="site-menu__panel" role="dialog" aria-modal="true" aria-label="Меню сайта" tabindex="-1">
    <nav class="site-menu__navigation" aria-label="Разделы сайта">
      <section class="site-menu__group" data-menu-accordion>
        <button class="site-menu__group-trigger" type="button" aria-expanded="false" aria-controls="site-menu-catalog">
          <span>Каталог</span>
          <svg class="site-menu__chevron" xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" aria-hidden="true">
            <path d="M11.0605 1.06055L5.53027 6.59082L0 1.06055L1.06055 0L5.53027 4.46973L10 0L11.0605 1.06055Z" />
          </svg>
        </button>
        <div class="site-menu__group-body" id="site-menu-catalog">
          <div class="site-menu__group-body-inner">
            <ul class="site-menu__links">
              <li><a href="#lighting-installations">Световые инсталляции</a></li>
              <li><a href="#outdoor-lighting">Наружное освещение</a></li>
              <li><a href="#architectural-lighting">Архитектурное освещение</a></li>
              <li><a href="#metal-constructions">Металлоконструкции</a></li>
            </ul>
          </div>
        </div>
      </section>

      <section class="site-menu__group" data-menu-accordion>
        <button class="site-menu__group-trigger" type="button" aria-expanded="false" aria-controls="site-menu-solutions">
          <span>Решения</span>
          <svg class="site-menu__chevron" xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" aria-hidden="true">
            <path d="M11.0605 1.06055L5.53027 6.59082L0 1.06055L1.06055 0L5.53027 4.46973L10 0L11.0605 1.06055Z" />
          </svg>
        </button>
        <div class="site-menu__group-body" id="site-menu-solutions">
          <div class="site-menu__group-body-inner">
            <ul class="site-menu__links">
              <li><a href="#parks-and-squares">Парки и скверы</a></li>
              <li><a href="#residential-complexes">Жилые комплексы</a></li>
              <li><a href="#public-spaces">Общественные пространства</a></li>
              <li><a href="#sports-grounds">Спортивные площадки</a></li>
              <li><a href="#streets-and-roads">Улицы</a></li>
              <li><a href="#facades">Фасады</a></li>
            </ul>
          </div>
        </div>
      </section>

      <section class="site-menu__group" data-menu-accordion>
        <button class="site-menu__group-trigger" type="button" aria-expanded="false" aria-controls="site-menu-company">
          <span>О компании</span>
          <svg class="site-menu__chevron" xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" aria-hidden="true">
            <path d="M11.0605 1.06055L5.53027 6.59082L0 1.06055L1.06055 0L5.53027 4.46973L10 0L11.0605 1.06055Z" />
          </svg>
        </button>
        <div class="site-menu__group-body" id="site-menu-company">
          <div class="site-menu__group-body-inner">
            <ul class="site-menu__links">
              <li><a href="#cooperation">Сотрудничество</a></li>
              <li><a href="#partners">Партнеры</a></li>
              <li><a href="#news">Новости</a></li>
              <li><a href="#reviews">Отзывы</a></li>
              <li><a href="#vacancies">Вакансии</a></li>
              <li><a href="#delivery">Доставка</a></li>
              <li><a href="#warranty">Гарантии</a></li>
            </ul>
          </div>
        </div>
      </section>

      <ul class="site-menu__links site-menu__primary-links">
        <li><a href="#projects">Проекты</a></li>
        <li><a href="#production">Производство</a></li>
        <li><a href="#files">Файлы</a></li>
        <li><a href="#contacts">Контакты</a></li>
      </ul>
    </nav>

    <footer class="site-menu__footer" id="contacts">
      <small class="site-menu__copyright">© 2026. Все права защищены. ООО&nbsp;«РСК&nbsp;Групп»</small>

      <div class="site-menu__socials">
        {{> social-networks
          ariaLabel="РСК Групп в социальных сетях"
        }}
      </div>

      <address class="site-menu__contacts">
        <a href="tel:+79600796853">+7 960 079-68-53</a>
        <a href="mailto:mail@rsc-groupp.ru">mail@rsc-groupp.ru</a>
        <p>Казань, ул.Теплично-Комбинатская, 5В<br />420036, РТ</p>
      </address>

      <div class="site-menu__requisites">
        <p>ИНН 1657223686</p>
        <p>КПП 168301001</p>
        <p>ОГРН 1161690093608</p>
      </div>

      <div class="site-menu__contact-button">
        {{> button variant="dark" label="Связаться" icon="/icons/chat-4-line.svg" fullWidth=true}}
      </div>
    </footer>
  </div>
</div>
