<section class="partners-marquee" aria-label="Партнёры РСК Групп">
  <div class="partners-marquee__viewport">
    <div class="partners-marquee__track">
      <ul class="partners-marquee__group">
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/samolet.webp" alt="Самолет" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/ak-bars-development.webp" alt="Ak Bars Development" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/united-energy-company.webp" alt="Объединённая энергетическая компания" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/comfortable-city-environment.webp" alt="Формирование комфортной городской среды" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/outdoor-lighting-association.webp" alt="Ассоциация наружного освещения" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/minstroy-russia.webp" alt="Минстрой России" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/talan.webp" alt="Талан" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/pik.webp" alt="ПИК" width="366" height="204" />
        </li>
      </ul>

      <ul class="partners-marquee__group" aria-hidden="true">
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/samolet.webp" alt="" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/ak-bars-development.webp" alt="" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/united-energy-company.webp" alt="" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/comfortable-city-environment.webp" alt="" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/outdoor-lighting-association.webp" alt="" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/minstroy-russia.webp" alt="" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/talan.webp" alt="" width="366" height="204" />
        </li>
        <li class="partners-marquee__item">
          <img class="partners-marquee__logo" src="/images/partners/pik.webp" alt="" width="366" height="204" />
        </li>
      </ul>
    </div>
  </div>
</section>
