<ul class="social-networks" aria-label="{{#if ariaLabel}}{{ariaLabel}}{{else}}Социальные сети{{/if}}">
  <li class="social-networks__item">
    <a class="social-networks__link" href="{{vkUrl}}" target="_blank" rel="noopener noreferrer" aria-label="ВКонтакте">
      <img class="social-networks__icon" src="/icons/social-networks/vk.svg" width="40" height="40" alt="" aria-hidden="true" />
    </a>
  </li>
  <li class="social-networks__item">
    <a class="social-networks__link" href="{{hhUrl}}" target="_blank" rel="noopener noreferrer" aria-label="HeadHunter">
      <img class="social-networks__icon social-networks__icon--hh" src="/icons/social-networks/hh.svg" width="36" height="36" alt="" aria-hidden="true" />
    </a>
  </li>
  <li class="social-networks__item">
    <a class="social-networks__link" href="{{telegramUrl}}" target="_blank" rel="noopener noreferrer" aria-label="Telegram">
      <img class="social-networks__icon" src="/icons/social-networks/telegram.svg" width="40" height="40" alt="" aria-hidden="true" />
    </a>
  </li>
  <li class="social-networks__item">
    <a class="social-networks__link" href="{{maxUrl}}" target="_blank" rel="noopener noreferrer" aria-label="MAX">
      <img class="social-networks__icon social-networks__icon--max" src="/icons/social-networks/max.svg" width="34" height="34" alt="" aria-hidden="true" />
    </a>
  </li>
</ul>
